<div cdkDropListGroup class="cdk-main">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <button type="button" class="btn btn-primary col-4" (click)="popMenuShow()" style="margin-left: 36px;  height: 40px;top: 10px">Operations</button>
      </div>
    </div>
  </div>
  <div class="uploaded-view-container">
    <cdk-virtual-scroll-viewport class="uploaded-view-port" itemSize="16">
      <div class="example-container">
        <div    cdkDropList
        [cdkDropListData]="operate"
        class="example-list"
        (cdkDropListDropped)="drop($event)" *ngIf="getFilesMsisdnNames().length === 0; else elseBlock" >
        <div class="example-box" cdkDrag>{{"Uploaded Files"}}</div>
      </div>
        <ng-template #elseBlock class="else-block">
          <div    cdkDropList
                  [cdkDropListData]="getFilesMsisdnNames()"
                  class="example-list"
                  cdkDropListSortingDisabled
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let fileName of getFilesMsisdnNames()" cdkDrag (click)="onLeftClick(fileName, 'list')"  (contextmenu)="onRightClick($event, fileName, 'list')">{{fileName}}</div>
          </div>
        </ng-template>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="operate-view-container">
    <cdk-virtual-scroll-viewport class="operate-view-port" itemSize="16">
        <div class="example-container">
            <div    cdkDropList
                    [cdkDropListData]="operate"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)" *ngIf="operate.length === 0; else elseOperateBlock" >
                <div class="example-box" cdkDrag>{{"Operate with"}}</div>
            </div>
          <ng-template #elseOperateBlock class="else-block">
             <div cdkDropList
                      [cdkDropListData]="operate"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let fileName of operate" cdkDrag (click)="onLeftClick(fileName, 'operate')"  (contextmenu)="onRightClick($event, fileName, 'operate')">{{fileName}}</div>
             </div>
          </ng-template>
        </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="operate-view-container">
    <cdk-virtual-scroll-viewport class="operate-view-port" itemSize="16">
      <div class="example-container">
        <div    cdkDropList
                [cdkDropListData]="blackList"
                class="example-list"
                (cdkDropListDropped)="drop($event)" *ngIf="blackList.length === 0; else elseBlackList" >
          <div class="example-box" cdkDrag>{{"Blacklist"}}</div>
        </div>
        <ng-template #elseBlackList class="else-blocked">
          <div cdkDropList
               [cdkDropListData]="blackList"
               class="example-list"
               (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let fileName of blackList" cdkDrag (click)="onLeftClick(fileName, 'blackList')"  (contextmenu)="onRightClick($event, fileName, 'blackList')">{{fileName}}</div>
          </div>
        </ng-template>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="input-holder">
  <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter result name</h5>
          <button type="button" class="close"><span (click)="popMenuHide()">&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="btn btn-secondary mr-auto p-2" (click)="popMenuHide()">Close</button>
          <button type="submit" class="btn btn-primary p-2" (click)="onInput(); getOperatedArray('getUnique'); popMenuHide()">Get Unique</button>
          <button type="submit" class="btn btn-primary p-2" (click)="onInput(); getOperatedArray('clearList'); popMenuHide()">Clear List</button>
        </div>
      </div>
    </div>
  </div>
</div>
