.cdk-main {
  padding-top: 20px;
  padding-left: 30px;
  height: 99%;
  inline-size: auto;

}

.example-container {

    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}



.uploaded-view-port {
    height: 95%;
}

.operate-view-port {
  height: 95%;
}

.uploaded-view-container {
  display: inline-block;
  width: 30%;
  height: 98%;
}

.else-block {
  width: 100%;
}
.operate-view-container {
  padding-left: 10px;
  display: inline-block;
  width: 30%;
  height: 98%;
}

.uploaded-title {
 padding-left: 40px;
}

.operate-title {
  padding-left: 40px;
}

.result-list {
  height: 98%;
}


.unique-button {
  display: inline-block;
  padding-left: 50px;
  width: 120px;
  height: 80px;
}

.similar-button {
  display: inline-block;
  padding-left: 50px;
  width: 120px;
  height: 80px;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
