<div cdkDropListGroup class="cdk-main">

  <div class="row">
    <div style="width: 35px"></div>
      <button type="button" class="btn btn-primary " (click)="operation = 'unique'; popMenuShow()"
              style="width: 100px; height: 40px; left: 35px; top: 10px; margin-top: 10px">Unique</button>
    <div style="width: 30px"></div>
      <button type="button" class="btn btn-primary" (click)="operation = 'clear'; popMenuShow()"
              style="width: 100px; height: 40px; left: 35px; top: 10px; margin-top: 10px">Clear</button>
  </div>

  <div class="uploaded-view-container">
    <cdk-virtual-scroll-viewport class="uploaded-view-port" itemSize="16">
      <div class="example-container">
        <div    cdkDropList
        [cdkDropListData]="operateList"
        class="example-list"
        (cdkDropListDropped)="drop($event)" *ngIf="getFileNames().length === 0; else elseBlock" >
        <div class="example-box" cdkDrag>{{"Uploaded Files"}}</div>
      </div>
        <ng-template #elseBlock class="else-block">
          <div    cdkDropList
                  [cdkDropListData]="getFileNames()"
                  class="example-list"
                  cdkDropListSortingDisabled
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let fileName of getFileNames()" cdkDrag (click)="onLeftClick(fileName, 'list')" (contextmenu)="onRightClick($event, fileName, 'list')">{{fileName}}</div>
          </div>
        </ng-template>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="operate-view-container">
    <cdk-virtual-scroll-viewport class="operate-view-port" itemSize="16">
        <div class="example-container">
            <div    cdkDropList
                    [cdkDropListData]="operateList"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)" *ngIf="operateList.length === 0; else elseOperateBlock" >
                <div class="example-box" cdkDrag>{{"Operate with"}}</div>
            </div>
          <ng-template #elseOperateBlock class="else-block">
             <div cdkDropList
                      [cdkDropListData]="operateList"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let fileName of operateList" cdkDrag (click)="onLeftClick(fileName, 'operate')" (contextmenu)="onRightClick($event, fileName, 'operate')">{{fileName}}</div>
             </div>
          </ng-template>
        </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="operate-view-container">
    <cdk-virtual-scroll-viewport class="operate-view-port" itemSize="16">
      <div class="example-container">
        <div    cdkDropList
                [cdkDropListData]="blackList"
                class="example-list"
                (cdkDropListDropped)="drop($event)" *ngIf="blackList.length === 0; else elseBlackList" >
          <div class="example-box" cdkDrag>{{"Blacklist"}}</div>
        </div>
        <ng-template #elseBlackList class="else-blocked">
          <div cdkDropList
               [cdkDropListData]="blackList"
               class="example-list"
               (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let fileName of blackList" cdkDrag (click)="onLeftClick(fileName, 'blackList')"  (contextmenu)="onRightClick($event, fileName, 'blackList')">{{fileName}}</div>
          </div>
        </ng-template>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="input-holder">
  <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter result name</h5>
          <button type="button" class="close"><span (click)="popMenuHide()">&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name"></label><input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="popMenuHide()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="processFiles()">Get</button>
        </div>
      </div>
    </div>
  </div>
</div>
