<div cdkDropListGroup class="cdk-main">
  <div class="row"><button type="button" class="btn btn-primary col-2" (click)="popMenuShow()" style="height: 60px">Get Unique</button></div>

  <div class="uploaded-view-container">
    <H3 class="uploaded-title">Uploaded Files</H3>
    <cdk-virtual-scroll-viewport class="uploaded-view-port" itemSize="16">
      <div class="example-container">
        <div    cdkDropList
                [cdkDropListData]="getFileNames()"
                class="example-list"
                cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let fileName of getFileNames()" cdkDrag>{{fileName}}</div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="operate-view-container">
    <H3 class="operate-title">Operate with</H3>
    <cdk-virtual-scroll-viewport class="operate-view-port" itemSize="16">
        <div class="example-container">
            <div    cdkDropList
                    [cdkDropListData]="operate"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)" *ngIf="operate.length === 0; else elseBlock" >
                <div class="example-box" cdkDrag>{{"Drop here the files"}}</div>
            </div>
          <ng-template #elseBlock class="else-block">
             <div cdkDropList
                      [cdkDropListData]="operate"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let fileName of operate" cdkDrag>{{fileName}}</div>
             </div>
          </ng-template>
        </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="operate-view-container">
    <H3 class="operate-title">Black-Lisst</H3>
    <cdk-virtual-scroll-viewport class="operate-view-port" itemSize="16">
      <div class="example-container">
        <div    cdkDropList
                [cdkDropListData]="blackList"
                class="example-list"
                (cdkDropListDropped)="drop($event)" *ngIf="blackList.length === 0; else elseBlackList" >
          <div class="example-box" cdkDrag>{{"Drop here the black-list files"}}</div>
        </div>
        <ng-template #elseBlackList class="else-blocked">
          <div cdkDropList
               [cdkDropListData]="blackList"
               class="example-list"
               (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let fileName of blackList" cdkDrag>{{fileName}}</div>
          </div>
        </ng-template>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>


  <div class="input-holder">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter resault name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span (click)="popMenuHide()">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="recipient-name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="popMenuHide()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onInput(); getUniqueSubscribers()">Get</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<label class="name-input">-->
<!--  <input nz-input placeholder="Put the name of result" (keyup)="onInput($event)">-->
<!--</label>-->
<!--<label class="unique-button">-->
<!--  <button nz-button nzType="primary" type="submit"  (click)="getUniqueSubscribers()">Unique</button>-->
<!--</label>-->
<!--<label class="similar-button">-->
<!--  <button nz-button nzType="primary" type="submit" (click)="getSimilarSubscribers()">Similar</button>-->
<!--</label>-->
