<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md">
    <div class="sidebar-logo">
      <a href="">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>XLS Parse App</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzOpen nzTitle="Menu" nzIcon="dashboard">
        <ul>
          <li nz-menu-item>
<!--              routerLinkActive="active">-->
            <a (click)="routingLink = 'upload' ">Uploaded Files</a>
                  <!--routerLink="upload"-->

          </li>
          <li nz-menu-item>
<!--             routerLinkActive="active">-->
            <a (click)="routingLink = 'operations'">Operations</a>
<!--              routerLink="operations" -->
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="nz-header">
      <div class="app-header">
        <app-drag-upload class="drag-upload"></app-drag-upload>
      </div>
    </nz-header>

    <nz-content>
      <ng-container  >
        <app-upload *ngIf="routingLink === 'upload'"></app-upload>
        <app-operations *ngIf="routingLink === 'operations'"></app-operations>
      </ng-container>
    </nz-content>
  </nz-layout>
</nz-layout>
