<cdk-virtual-scroll-viewport class="view-port" itemSize="16" style="background-color: white">
  <div class="row" style="padding-top: 15px">
    <div class="col-3 text-center"><h5>Name</h5></div>
    <div class="col-3 text-center"><h5>Number of records</h5></div>
    <div class="col-2 text-center"><h5>Unique</h5></div>
    <div class="col-2 text-center"><h5>Similar</h5></div>
    <div class="col-2 text-center"><h5>Extension</h5></div>

  </div><hr style="height: 2px; color: black; background-color: gray;">
  <div class="col-12" style="height: 50px" *ngFor="let fileName of getFileNames()">
    <div class="row">
      <div class="col-3 text-left"><h6>{{fileName}}</h6></div>
      <div class="col-3 text-center">{{getFile(fileName).msisdnList.length}}</div>
      <div class="col-2 text-center">Uniq</div>
      <div class="col-2 text-center">qew</div>
      <div class="col-2 text-center">qwe</div>
    </div>
    <hr>
  </div>
</cdk-virtual-scroll-viewport>
